body{
	font-size: 16px;
}
#wrapper{
	width: 100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}

.field-group{
	width: 50%;
	
}
.field-group label, .field-group input{
	width: 100%;
}
.field-group input{
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}
.field-group textarea{
	width: 100%;
	border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 10px;
}
.message{
	width: 50%;
}
.submit{
	margin: 0 0 0 10px !important;
	/*padding: 10px 15px !important;*/
	border: none;
	/*border-radius: 20px;*/
	color: #fff;
	font-size: 1em !important;
}

.hide-desktop{
	display: none;
}
.hide-mobile{
	display: block;
}

.button{
	display: inline-block;
    margin: 30px 0;
    padding: 5px 15px;
    font-size: 1em;
    background: linear-gradient(90deg,#5767aa 0%,#5767aa 100%);
	cursor: pointer;
	transition: 0.5s;
	border-radius: 10px;
}

.button a{
	color: #fff;
}
.button:hover{
	background: linear-gradient(90deg,#5767aa 0%, #5767aa 100%);
	transform: translateX(10px);
	transition: 0.5s ease-in-out;
}
#map{
	padding-left: 269px;
    padding-top: 75px;
}
h1{
	padding-left: 400px;
    color: green;
}
.contact{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: strech;
	margin-top: -70px;
	margin-bottom: 40px;
}
.contact-form-section, .contact-info{
	height: 400px;
}
.contact-form-section{
	width: 60%;
	box-shadow: 0 0 5px #eee;
	background-color: #fff;
	padding: 10px;
}
.contact-info{
	width: 40%;
	background-color: #28a745;
	color: #fff;
	padding: 10px;
}
.contact-form-section h2, .contact-info h2{
	margin: 20px 0;
	/*text-align: left;*/
	font-size: 1.3em;
	letter-spacing: 1px;
}
.address{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin: 10px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 10px;
}
.address a{
	color: #fff;
}
.icon{
	width: 30%;
	font-size: 2em;
}
.address-details, .email, .phone{
	width: 70%;
}

@media only all and (max-width:768px){
	
	.field-group input{
		height: 35px;
	}
	.field-group textarea{
		height: 60px;
	}

	.hide-desktop{
		display: block;
	}
	.hide-mobile{
		display: none;
	}
	
	.contact{
		display: block;
	}
	.contact-form-section{
		width: 100%;
		margin: 20px 0;
	}
	.contact-info{
		width: 100%;
		margin: 20px 0;
	}
	
}